<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Coupons</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h2>List of coupons</h2>
</div>
<table>
    <thead>
    <tr>
        <!--        name, couponStatusEnum, adress, shipingDate-->
        <th> Id </th>
        <th> Name </th>
        <th> Status </th>
        <th> Address </th>
        <th> Shipping </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${coupons.empty}">
        <td colspan="2"> No Coupons Available </td>
    </tr>
    <tr th:each="c : ${coupons}">
        <td><span th:text="${c.id}"> Id </span></td>
        <td><span th:text="${c.name}"> Name </span></td>
        <td><span th:text="${c.couponStatusEnum}"> Status </span></td>
        <td><span th:text="${c.adress.toString()}"> Address </span></td>
        <td><span th:text="${c.shippingDate}"> Shipping </span></td>
    </tr>
    </tbody>
</table>
<br>
<hr>
<br>
<form method="post">
    <p>Enter id of order: <input type="number" name="id"></p>
    <button type="submit">Confirm</button>
</form>
<br>
<hr>
<br>
</body>
</html>