<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>FoodDelivery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div sec:authorize="isAuthenticated()">
        <p>Logged user: <span sec:authentication="name">Bob</span></p>
        <p>Roles: <span sec:authentication="principal.authorities">[ROLE_OPERATOR, ROLE_CLIENT,ROLE_COOK,ROLE_COURIER]</span></p>
        <h4><a href="/logout">Sign out</a></h4>
    </div>
    <div sec:authorize="!isAuthenticated()">
        <h4><a href="/login">Sign in</a></h4>
        <h4><a href="/registration">Sign up</a></h4>
    </div>
    <div sec:authorize="hasRole('ROLE_OPERATOR')">
        <a href="/rations">Add ration</a>
        <a href="">Orders</a>
        <a href="">Coupons</a>
    </div>
    <div sec:authorize="hasRole('ROLE_CLIENT')">
        <a href="/makeorder">Make an order</a>
        <a href="/makeorder">Make a refund</a>
        <a href="/makeorder">Your orders</a>
    </div>
    <div sec:authorize="hasRole('ROLE_COOK')">
        <a href="/makeorder">Cooking coupons</a>
    </div>
    <div sec:authorize="hasRole('ROLE_COURIER')">
        <a href="/makeorder">Delivery coupons</a>
    </div>
</body>
</html>