<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Orders</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h2>List of order</h2>
</div>
<table>
    <thead>
    <tr>
        <th> Id </th>
        <th> Status </th>
        <th> Subscribe </th>
        <th> Ration </th>
        <th> Address </th>
        <th> Shipping </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${orders.empty}">
        <td colspan="2"> No Rations Available </td>
    </tr>
    <tr th:each="order : ${orders}">
        <td><span th:text="${order.id}"> Id </span></td>
        <td><span th:text="${order.status}"> Status </span></td>
        <td><span th:text="${order.subscrabeStatusEnum}"> Subscribe </span></td>
        <td><span th:text="${order.ration.toString()}"> Ration </span></td>
        <td><span th:text="${order.adress.toString()}"> Address </span></td>
        <td><span th:text="${order.shippingDate}"> Shipping </span></td>
    </tr>
    </tbody>
</table>
<br>
<hr>
<br>
<form method="post">
    <p>Enter id of order: <input type="number" name="id"></p>
    <button type="submit">Confirm</button>
</form>
<br>
<hr>
<br>
</body>
</html>