<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <h2>Add ration</h2>
    </div>
    <form method="post">
        <input type="text" name="name" placeholder="Enter the name">
        <input type="number" name="price" placeholder="Enter the price">
        <input type="text" name="description" placeholder="Enter the description ">
        <button type="submit">Add</button>
    </form>
    <div>
        <h2>List of rations</h2>
    </div>
    <table>
        <thead>
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> Price </th>
            <th> Description </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${rations.empty}">
            <td colspan="2"> No Rations Available </td>
        </tr>
        <tr th:each="ration : ${rations}">
            <td><span th:text="${ration.id}"> Id </span></td>
            <td><span th:text="${ration.rationName}"> Name </span></td>
            <td><span th:text="${ration.price}"> Price </span></td>
            <td><span th:text="${ration.rationDescription}"> Description </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>