<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<h2>Registration form</h2>
<form th:action="@{/registration}" method="post">
    <p>Username:<input type="text" name="username" required></p>
    <p>Password:<input type="password" name="password" required></p>
    <p>Name:<input type="text" name="name" required></p>
    <p>Surname:<input type="text" name="surname" required></p>
    <p>Phone number:<input type="text" name="phoneNumber" required></p>
    <p>Account:<input type="number" name="account" required></p>
    <input type="submit" value="Confirm information">
</form>
<!--this.surname = surname;-->
<!--this.name = name;-->
<!--this.phoneNumber = phoneNumber;-->
<!--this.username = username;-->
<!--this.password = password;-->
<!--this.roleId = roleId;-->
<!--this.account = account;-->
</body>
</html>
